.footer {
    background-color: #030202;
    padding: 2px;
    display: flex;
    justify-content: end;
}

.footer__link {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2rem;
    color: #ffffff;
}

.footer__link:hover {
    background-color: transparent;
}

.fa-facebook:hover {
    color: blue;
    transition: .5s;
}

.fa-github :hover {
    color: aliceblue;
    transition: .5s;
}
.fa-whatsapp:hover {
    color: green;
    transition: .5s;
}

@media screen and (max-width: 1024) {
    .footer {
        width: 80%
    }
}